@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family:'Arial Rounded MT';color:red;">SEJA BEM VINDO!</h1>
    <p>Desenvolvido por: RODNEY VICTOR.</p>
</div>
